<form>
    <div class="col-md-6">
        <label ng-bind="quest.QueastionText" style=" font-size: 12px;"></label>
        <label ng-bind="quest.mark" name='mark' ></label>
    </div>
    <label class="btn btn-default">
        <input value="1" type="radio" data-ng-model="quest.mark">1
    </label>
    <label class="btn btn-default " >
        <input value="2" type="radio" data-ng-model="quest.mark">2
    </label>
    <label class="btn btn-default">
        <input value="3" type="radio" data-ng-model="quest.mark">3
    </label>
    <label class="btn btn-default">
        <input value="4" type="radio" data-ng-model="quest.mark">4
    </label>
    <label class="btn btn-default">
        <input value="5" type="radio" data-ng-model="quest.mark">5
    </label>
</form>

